body{
    font-family: 'Press Start 2P', cursive;
}

#single-pokemon{
    max-width: 600px;
    margin: 0 auto;
}

#single-pokemon-details #main-image-container img{
    width: 300px;
}

#single-pokemon-details #alt-images img{
    width: 75px;
}

#single-pokemon-details #alt-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#single-pokemon-details #moves {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#single-pokemon-details li{
    list-style-type: none;
}